 
# Get your own OMDb API key from http://www.omdbapi.com/apikey.aspx and add it to this file.
# ur free api key is limited to 1000 requests per day, so if you plan to use this app frequently, consider getting your own key.
# after getting your key, rename this file to .env and add your key below.  

OMDB_API_KEY=2f9cxxxxxxxxxx